body{
    background-color: #363636;
    color: white;
}

.todo{
    background-color: #242424;
    border-radius: 8px;
    min-height: 4em;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.todo-complete{
    margin: 0px;
    width: 13px;
}

.check-and-title{
    display: flex;
    align-items: center;
}

.title{
    font-size: 1.6em;
    margin: 0px 12px;
}

.description{
    margin: 0px 25px;
}